body {
    background:#FFE4C4;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:lightsteelblue;
    border-radius:10px;
}

.assignment img {
    width:200px;
    margin:10px;
    border:4px solid lightsteelblue;
}

.assignment img:hover {
    border:4px solid #483D8B;
}

h1 {
    color: #483D8B;
    text-align:center;
}

h1:hover {
    color: #DA70D6;
}

a {
    text-decoration:none;
    color:#483D8B;
}

a:hover {
    color:#DA70D6;
}